<%- include('../shop/layout/user-header.ejs') %>

    <!-- Header Info Begin -->

    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Page Add Section Begin -->
    <section class="page-add cart-page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Cart<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">Dresses</a>
                        <a class="active" href="#">Night Dresses</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Cart Page Section Begin -->
    <div class="cart-page">
        <div class="container">

            <div class="col-lg-5 offset-lg-5">
                <h3>Empty Cart</h3>
            </div>

            <div class="cart-btn">
                <div class="row">


                    <div class="col-lg-5 offset-lg-4">
                        <a href="/">
                            <div class="site-btn" style="margin-left: 50px;">Continue Shopping</div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <!-- Cart Page Section End -->

    <!-- Footer Section Begin -->
    <%- include('../shop/layout/user-footer.ejs') %>

        <!-- Footer Section End -->

        <!-- Js Plugins -->
        <script src="shop/js/jquery-3.3.1.min.js"></script>
        <script src="shop/js/bootstrap.min.js"></script>
        <script src="shop/js/jquery.magnific-popup.min.js"></script>
        <script src="shop/js/jquery.slicknav.js"></script>
        <script src="shop/js/owl.carousel.min.js"></script>
        <script src="shop/js/jquery.nice-select.min.js"></script>
        <script src="shop/js/mixitup.min.js"></script>
        <script src="shop/js/main.js"></script>
        </body>

        </html>