<%- include('../shop/layout/user-header.ejs') %>

<script src="https://unpkg.com/feather-icons"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />




<body style="overflow: hidden;">

<style>
    #order-placed-container {
    background-image: url('/shop/img/blurred-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px; /* Adjust the height as needed */
}
.zoom-effect {
  transition: transform 0.3s ease;
  color: black;
  font-size: 22px;
  font-weight: normal;
}

.zoom-effect:hover {
  transform: scale(1.1);
  color: white;
  font-weight: bold;
}


</style>




    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="img/icons/sales.png" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->


    <section>
        <div class="page-header text-center" id="order-placed-container" style="padding-top: 40px;">      
            <div class="container d-flex flex-column align-items-center col-md-4" style="height: 30vh; background-color: white; padding: 33px; border-radius: 30px;">
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 360 360" width="360" height="360" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;"><defs><clipPath id="__lottie_element_467"><rect width="360" height="360" x="0" y="0"></rect></clipPath></defs><g clip-path="url(#__lottie_element_467)"><g transform="matrix(1,0,0,1,76.12299346923828,68.97000885009766)" opacity="0.777165736707009" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,111.875,3.5280001163482666)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.8109999895095825,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.8109999895095825,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,183.11500549316406,184.09500122070312)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,-0.0010000000474974513 C6.557000160217285,3.619999885559082 3.619999885559082,6.557000160217285 -0.0010000000474974513,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.619999885559082 -6.557000160217285,-0.0010000000474974513 C-6.557000160217285,-3.621999979019165 -3.621999979019165,-6.557000160217285 -0.0010000000474974513,-6.557000160217285 C3.619999885559082,-6.557000160217285 6.557000160217285,-3.621999979019165 6.557000160217285,-0.0010000000474974513z"></path></g><g opacity="1" transform="matrix(1,0,0,1,6.806000232696533,104.47200012207031)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,0 C6.557000160217285,3.621000051498413 3.619999885559082,6.557000160217285 -0.0010000000474974513,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.621000051498413 -6.557000160217285,0 C-6.557000160217285,-3.621000051498413 -3.621999979019165,-6.557000160217285 -0.0010000000474974513,-6.557000160217285 C3.619999885559082,-6.557000160217285 6.557000160217285,-3.621000051498413 6.557000160217285,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,111.54199981689453,209.26100158691406)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.809999942779541,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,66.61299896240234,20.54599952697754)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,0 C6.557000160217285,3.621000051498413 3.621000051498413,6.557000160217285 -0.0010000000474974513,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.621000051498413 -6.557000160217285,0 C-6.557000160217285,-3.621000051498413 -3.621999979019165,-6.557000160217285 -0.0010000000474974513,-6.557000160217285 C3.621000051498413,-6.557000160217285 6.557000160217285,-3.621000051498413 6.557000160217285,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,202.41400146484375,78.05699920654297)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,0 C6.557000160217285,3.621000051498413 3.621000051498413,6.557000160217285 0,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.621000051498413 -6.557000160217285,0 C-6.557000160217285,-3.621000051498413 -3.621999979019165,-6.557000160217285 0,-6.557000160217285 C3.621000051498413,-6.557000160217285 6.557000160217285,-3.621000051498413 6.557000160217285,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,10.083999633789062,165.21400451660156)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.8109999895095825,3.2780001163482666 0.0010000000474974513,3.2780001163482666 C-1.809999942779541,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.809999942779541,-3.2780001163482666 0.0010000000474974513,-3.2780001163482666 C1.8109999895095825,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,150.5659942626953,30.381999969482422)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.809999942779541,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,35.77799987792969,17.26799964904785)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.8109999895095825,3.2790000438690186 0.0010000000474974513,3.2790000438690186 C-1.809999942779541,3.2790000438690186 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.812000036239624 -1.809999942779541,-3.2790000438690186 0.0010000000474974513,-3.2790000438690186 C1.8109999895095825,-3.2790000438690186 3.2790000438690186,-1.812000036239624 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,32.499000549316406,197.20899963378906)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,0 C6.557000160217285,3.621000051498413 3.621000051498413,6.557000160217285 0,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.621000051498413 -6.557000160217285,0 C-6.557000160217285,-3.621000051498413 -3.621999979019165,-6.557000160217285 0,-6.557000160217285 C3.621000051498413,-6.557000160217285 6.557000160217285,-3.621000051498413 6.557000160217285,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,205.6929931640625,132.1320037841797)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2790000438690186 0,3.2790000438690186 C-1.8109999895095825,3.2790000438690186 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.812000036239624 -1.8109999895095825,-3.2790000438690186 0,-3.2790000438690186 C1.809999942779541,-3.2790000438690186 3.2790000438690186,-1.812000036239624 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,144.00900268554688,201.51199340820312)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.809999942779541,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,76.447998046875,201.51199340820312)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.809999942779541,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,25.941999435424805,56.67900085449219)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.8109999895095825,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.8109999895095825,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,176.5570068359375,20.54599952697754)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M6.557000160217285,0 C6.557000160217285,3.621000051498413 3.619999885559082,6.557000160217285 -0.0010000000474974513,6.557000160217285 C-3.621999979019165,6.557000160217285 -6.557000160217285,3.621000051498413 -6.557000160217285,0 C-6.557000160217285,-3.621000051498413 -3.621999979019165,-6.557000160217285 -0.0010000000474974513,-6.557000160217285 C3.619999885559082,-6.557000160217285 6.557000160217285,-3.621000051498413 6.557000160217285,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,183.11399841308594,68.04100036621094)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,-0.0010000000474974513 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2790000438690186 0,3.2790000438690186 C-1.8109999895095825,3.2790000438690186 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,-0.0010000000474974513 C-3.2790000438690186,-1.812000036239624 -1.8109999895095825,-3.2790000438690186 0,-3.2790000438690186 C1.809999942779541,-3.2790000438690186 3.2790000438690186,-1.812000036239624 3.2790000438690186,-0.0010000000474974513z"></path></g><g opacity="1" transform="matrix(1,0,0,1,192.9499969482422,155.8990020751953)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M3.2790000438690186,0 C3.2790000438690186,1.8109999895095825 1.809999942779541,3.2780001163482666 0,3.2780001163482666 C-1.8109999895095825,3.2780001163482666 -3.2790000438690186,1.8109999895095825 -3.2790000438690186,0 C-3.2790000438690186,-1.8109999895095825 -1.8109999895095825,-3.2780001163482666 0,-3.2780001163482666 C1.809999942779541,-3.2780001163482666 3.2790000438690186,-1.8109999895095825 3.2790000438690186,0z"></path></g></g><g transform="matrix(1.499036431312561,0,0,1.499036431312561,78.86751556396484,78.86650848388672)" opacity="0.0019270729214925098" style="display: none;"><g opacity="1" transform="matrix(1,0,0,1,67.46499633789062,67.46499633789062)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10" stroke="rgb(77,184,24)" stroke-opacity="1" stroke-width="2.986" d=" M0,60 C33.137001037597656,60 60,33.13800048828125 60,0 C60,-33.137001037597656 33.137001037597656,-60 0,-60 C-33.13800048828125,-60 -60,-33.137001037597656 -60,0 C-60,33.13800048828125 -33.13800048828125,60 0,60z"></path></g></g><g transform="matrix(1.4708508253097534,0,0,1.4708508253097534,47.689605712890625,47.6885986328125)" opacity="0.031142322389280254" style="display: none;"><g opacity="1" transform="matrix(1,0,0,1,89.95500183105469,89.95500183105469)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="10" stroke="rgb(77,184,24)" stroke-opacity="1" stroke-width="3.982" d=" M0,80 C44.18299865722656,80 80,44.183998107910156 80,0 C80,-44.18299865722656 44.18299865722656,-80 0,-80 C-44.18299865722656,-80 -80,-44.18299865722656 -80,0 C-80,44.183998107910156 -44.18299865722656,80 0,80z"></path></g></g><g transform="matrix(1,0,0,1,119.75,119.74899291992188)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,60.25,60.25)"><path fill="rgb(77,184,24)" fill-opacity="1" d=" M0,60 C33.137001037597656,60 60,33.13800048828125 60,0 C60,-33.137001037597656 33.137001037597656,-60 0,-60 C-33.13800048828125,-60 -60,-33.137001037597656 -60,0 C-60,33.13800048828125 -33.13800048828125,60 0,60z"></path></g></g><g transform="matrix(1.428550362586975,0,0,1.428550362586975,139.48231506347656,143.69583129882812)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,28.400999069213867,25.42099952697754)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-16.910999298095703,-1.097000002861023 C-16.910999298095703,-1.097000002861023 -7.709000110626221,8.873000144958496 -7.709000110626221,8.873000144958496 C-7.709000110626221,8.873000144958496 16.47599983215332,-22.051000595092773 16.47599983215332,-22.051000595092773 C18.549999237060547,-24.70199966430664 22.3799991607666,-25.17099952697754 25.031999588012695,-23.097999572753906 C27.68400001525879,-21.02400016784668 28.152000427246094,-17.19300079345703 26.07900047302246,-14.541000366210938 C26.07900047302246,-14.541000366210938 -2.5230000019073486,22.030000686645508 -2.5230000019073486,22.030000686645508 C-4.8379998207092285,24.989999771118164 -9.255000114440918,25.17099952697754 -11.803999900817871,22.40999984741211 C-11.803999900817871,22.40999984741211 -25.868000030517578,7.171999931335449 -25.868000030517578,7.171999931335449 C-28.150999069213867,4.697999954223633 -27.99799919128418,0.8410000205039978 -25.52400016784668,-1.4420000314712524 C-23.051000595092773,-3.7249999046325684 -19.194000244140625,-3.571000099182129 -16.910999298095703,-1.097000002861023z"></path></g></g></g></svg>
                <h4 class="page-title" style="font-weight: 500; color: rgb(0, 0, 0);">Order placed Successfully.</h4>
            </div>
            <br>
            <a href="/" class="btn btn-outline-primary-2 mx-3 zoom-effect" style=" font-size: 22px;"><span>Continue Shopping</span><i class="icon-refresh"></i></a>
<a href="/GetMyOrders" class="btn btn-outline-primary-2 mx-3 zoom-effect" style="font-size: 22px;"><span>View Orders</span><i class="icon-cart-plus"></i></a>

            

        </div><!-- End .page-header -->
        
    
     
            <div class="container mt-5">
              
    
                
            </div>
     
    </section>
    
    <!-- Cart Page Section End -->

    <!-- Footer Section Begin -->
    <%- include('../shop/layout/user-footer.ejs') %>

    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script>
        feather.replace()
      </script>
    <script src="shop/js/jquery-3.3.1.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/1d4bb831de.js" crossorigin="anonymous"></script> -->
    <script src="shop/js/bootstrap.min.js"></script>
    <script src="shop/js/jquery.magnific-popup.min.js"></script>
    <script src="shop/js/jquery.slicknav.js"></script>
    <script src="shop/js/owl.carousel.min.js"></script>
    <script src="shop/js/jquery.nice-select.min.js"></script>
    <script src="shop/js/mixitup.min.js"></script>
    <script src="shop/js/main.js"></script>
</body>

