<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OUTLOOKS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="shop/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="source/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="shop/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="shop/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="shop/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="shop/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="shop/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="home"><img src="shop/img/logo.png" alt=""></a>
                </div>
                <div class="header-right">
                    <img src="shop/img/icons/search.png" alt="" class="search-trigger">
                    <img src="shop/img/icons/man.png" alt="">
                    <a href="#">
                        <img src="shop/img/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
          
                <% if (user) { %>
                <div class="user-access">
                    <a>Welcome, <%= user.username %>!</a>
                    <a href="/logout" class="in">logout</a>
                </div>

                  <% } else if(!user) { %>
                    <div class="user-access">
                        <a href="/signup">Register</a>
                        <a href="/login" class="in">Sign in</a>
                    </div>
                  <% } %>

                   


                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="" href="home">Home</a></li>
                     
                        <li><a href="/women">Women</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">Formals</a></li>
                                <li><a href="shopping-cart.html">Wedding Dress</a></li>
                                <li><a href="check-out.html">Casuals</a></li>
                            </ul>
                        </li>
                        <li><a href="/men">Men</a>
                            <ul class="sub-menu">
                                <li><a href="product-page.html">Suits</a></li>
                                <li><a href="shopping-cart.html">Wedding Dress</a></li>
                                <li><a href="check-out.html">Casual</a></li>
                            </ul>
                        </li>
                        <li><a href="./product-page.html">About</a></li>
                        <li><a href="./check-out.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>