<head>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/login/font/icomoon/style.css">

  <link rel="stylesheet" href="/login/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/login/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/login/css/style.css">

  <style>
    .btn-login {
      background-color: #6c757d;
    }

    .btn-login:hover {
      background-color: rgb(245, 245, 245);
    }

    .content {
      background-image: url('../../../login/image/h1_hero.jpg.webp');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }

    .grey-link {
      color: rgb(255, 247, 247);
      text-decoration: none;
    }

    .grey-link:hover {
      color: #f8f3f3;
    }

    .icon-round {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fbfbfb;
      text-align: center;
      line-height: 30px;
    }

    .icon-mobile {
      font-size: 2em;
      color: #606060;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    .hover-span:hover {
      transform: scale(1.2);
    }
  </style>

  <title>Forgot Password</title>
</head>

<body>



  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <a href="/" style="text-decoration: none; color: white;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M8 4l-4 4 4 4V9H21V7H8V4z" fill="white" />
              </svg>
              Back to Home
            </a>

            <div class="col-md-8">

              <h1 style="font-family: 'Roboto', sans-serif; color: #faf2f2; text-align: center;">
                Outlooks<span style="color: #fff;">.</span>
              </h1>

              <br>



              <h3 class="text-align: center;">Forgot Password</h3>



              <br>

              <form action="/forgotPassword" id="forgotPasswordForm"  method="post">
                <div class="form-group first">
                  <label for="phonenumber">Enter your Number</label>
                  <input type="number" name="phone" class="form-control" id="phone">
                 
                </div>
                <small id="phoneWarning" class="text-danger d-none">Phone number should is not valid.</small>
                
                <br>
                <div>
                  <button id="sendOtp" class="btn btn-primary">Send OTP</button>
                </div>

                <br>
      

                <div class="form-group last mb-4">
                  <label for="otp">Enter OTP</label>
                  <input type="text" name="otp" class="form-control" id="otp">
                 
                </div>
                <small id="otpWarning" class="text-danger d-none">OTP should be 6 digits.</small>
                <br>
                <div>
                  
                  <button id="verifyOtp" class="btn btn-success ">Verify OTP</button>
                </div>
                <br>

                <div class="form-group last mb-4">
                  <label for="password">Enter New Password</label>
                  <input type="password" name="password" class="form-control" id="password">

                </div>
                <br>
                <a href="/home">
                  <button type="submit" class="btn btn-block btn-login">Confirm</button>
                </a>

            </div>


          </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#sendOtp').click(function(e) {
        e.preventDefault(); // Prevent the default button behavior
        
        var phoneNumber = $('#phone').val(); // Get the phone number from the input field
  
        if (phoneNumber.length !== 10) {
          $('#phoneWarning').removeClass('d-none'); // Show the warning message
        } else {
          // Make an AJAX request to the otpSend endpoint
          $.ajax({
            url: '/otpSend',
            type: 'POST',
            data: { phone: phoneNumber },
            success: function(response) {
              // Handle the success response
              console.log(response);
              $('#sendOtp').addClass('d-none'); // Hide the "Send OTP" button
              $('#resendOtp').removeClass('d-none'); // Show the "Resend OTP" button
              $('#verifyOtp').removeClass('d-none'); // Show the "Verify OTP" button
            },
            error: function(error) {
              // Handle the error response
              console.log(error);
            }
          });
        }
      });
  
      $('#resendOtp').click(function(e) {
        e.preventDefault(); // Prevent the default button behavior
        
        var phoneNumber = $('#phone').val(); // Get the phone number from the input field
  
        // Make an AJAX request to the otpSend endpoint
        $.ajax({
          url: '/otpSend',
          type: 'POST',
          data: { phone: phoneNumber },
          success: function(response) {
            // Handle the success response
            console.log(response);
          },
          error: function(error) {
            // Handle the error response
            console.log(error);
          }
        });
      });
  
      $('#verifyOtp').click(function(e) {
        e.preventDefault(); // Prevent the default button behavior
        
        var otp = $('#otp').val(); // Get the OTP from the input field
  
        if (otp.length !== 6) {
          $('#otpWarning').removeClass('d-none'); // Show the warning message
        } else {
          // Make an AJAX request to the verifyOtp endpoint
          $.ajax({
            url: '/verifyOtp',
            type: 'POST',
            data: { otp: otp },
            success: function(response) {
              // Handle the success response
              console.log(response);
              if (response === 'success') {
                // OTP verification successful, proceed with password reset
                $('#forgotPasswordForm').submit();
              } else {
                // Invalid OTP, display error message
                $('#otpWarning').removeClass('d-none');
              }
            },
            error: function(error) {
              // Handle the error response
              console.log(error);
            }
          });
        }
      });
  
      function isStrongPassword(password) {
        // Regular expression to check for a strong password with at least one uppercase letter, one lowercase letter, one digit, and one special character
        var strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()])[A-Za-z\d!@#$%^&*()]{8,}$/;
  
        return strongPasswordRegex.test(password);
      }
    });
  </script>
  
  
  
  
  



  <script src="/login/js/jquery-3.3.1.min.js"></script>
  <script src="/login/js/popper.min.js"></script>
  <script src="/login/js/bootstrap.min.js"></script>
  <script src="/login/js/main.js"></script>
</body>



</html>