<head>

  <!DOCTYPE html>
  <html>

  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login/font/icomoon/style.css">
    <link rel="stylesheet" href="/login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login/css/style.css">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="/AddOnStyles/toastr.css">
    <!-- Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <title>Forgot Password</title>


  <body>
    <div id="toastMessage"></div>

    <!-- Your HTML code here -->


  </body>

  </html>

  <style>
    .btn-login {
      background-color: #6c757d;
    }

    .btn-login:hover {
      background-color: rgb(245, 245, 245);
    }

    .content {
      background-image: url('../../../login/image/h1_hero.jpg.webp');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }

    .grey-link {
      color: rgb(255, 247, 247);
      text-decoration: none;
    }

    .grey-link:hover {
      color: #f8f3f3;
    }

    .icon-round {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fbfbfb;
      text-align: center;
      line-height: 30px;
    }

    .icon-mobile {
      font-size: 2em;
      color: #606060;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    .hover-span:hover {
      transform: scale(1.2);
    }

    .btn-send-otp {
      float: right;
      /* Align button to the right */
    }

    .btn-verify-otp {
      float: right;
      /* Align button to the right */
      margin-right: 10px;
      /* Add some margin between the buttons */
    }
  </style>

  <title>Forgot Password</title>
</head>

<body>

  <div id="toastMessage"></div>


  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <a href="/" style="text-decoration: none; color: white;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M8 4l-4 4 4 4V9H21V7H8V4z" fill="white" />
              </svg>
              Back to Home
            </a>

            <div class="col-md-8">

              <h1 style="font-family: 'Roboto', sans-serif; color: #faf2f2; text-align: center;">
                Outlooks<span style="color: #fff;">.</span>
              </h1>

              <br>



              <h3 class="text-align: center;">Reset Password</h3>



              <br>

              <form action="/resetPassword" id="forgotPasswordForm" method="post">
                <div class="form-group first">
                  <label for="phonenumber">Enter your Number</label>
                  <input type="number" name="phone" class="form-control" id="phone">

                </div>
                <small id="phoneWarning" class="text-danger d-none">Phone number should is not valid.</small>

                <br>
                <div>
                  <button id="sendOtp" class="btn btn-primary btn-send-otp" onclick="sendOtp()">Send OTP</button>
                  <span id="countdownTimer" style="color: white"></span>
                </div>
                <br>
                <br>
                <br>


                <div class="form-group last mb-4">
                  <label for="otp">Enter OTP</label>
                  <input type="text" name="otp" class="form-control" id="otp">

                </div>
                <small id="otpWarning" class="text-danger d-none">OTP should be 6 digits.</small>

                <div>

                  <button id="verifyOtp" class="btn btn-success btn-verify-otp">Verify OTP</button>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="form-group last mb-4">
                  <label for="password">Enter New Password</label>
                  <input type="password" name="password" class="form-control" id="password"
                    oninput="validatePassword()">
                  <span id="passwordWarning" class="text-danger d-none">Password should be strong</span>
                </div>
                <br>
                <a href="#">
                  <button id="confirmBtn" type="submit" class="btn btn-block btn-login" disabled>Confirm</button>
                </a>
            </div>


          </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  </div>
  </div>

  <script>
    const passwordRegex = /^[a-zA-Z0-9!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{6,}$/;

    let isOtpVerified = false;

    function validatePassword() {
      const passwordInput = document.getElementById('password');
      const confirmBtn = document.getElementById('confirmBtn');
      const passwordWarning = document.getElementById('passwordWarning');

      if (passwordRegex.test(passwordInput.value) && isOtpVerified) {
        confirmBtn.disabled = false;
        passwordWarning.classList.add('d-none'); // Hide the warning message
      } else {
        confirmBtn.disabled = true;
        passwordWarning.classList.remove('d-none'); // Show the warning message
      }
    }

    function resetPassword(phone, callback) {
      const password = document.getElementById('password').value;
      $.ajax({
        url: '/resetPassword',
        type: 'POST',
        data: { phonenumber: phone, password: password },
        success: function (response) {
          if (response.status === 'success') {
            callback(true); // Invoke the callback with success status
          } else {
            callback(false); // Invoke the callback with failure status
          }
        },
        error: function (error) {
          console.log(error);
          callback(false); // Invoke the callback with failure status
        }
      });
    }

    $(document).ready(function () {
      let phoneNumber;

      $('#sendOtp').click(function (e) {
        e.preventDefault();
        phoneNumber = $('#phone').val();
        sendOtp(phoneNumber);
      });

      $('#verifyOtp').click(function (e) {
        e.preventDefault();
        const otp = $('#otp').val();
        verifyOtp(otp, phoneNumber);
      });

      function sendOtp(phone) {
        if (phone.length !== 10) {
          $('#phoneWarning').removeClass('d-none');
        } else {
          $.ajax({
            url: '/generate-otp-password',
            type: 'POST',
            data: { phonenumber: phone },
            success: function (response) {
              if (response.status) {
                toastr.clear();
                toastr.success("OTP sent successfully");
              } else {
                toastr.clear();
                toastr.error("User not found");
              }
            },
            error: function (error) {
              console.log(error);
            }
          });
        }
      }
      function disableSendOtpButton() {
        isOtpSent = true;
        $('#sendOtp').prop('disabled', true);
      }

      function enableSendOtpButton() {
        isOtpSent = false;
        $('#sendOtp').prop('disabled', false);
      }

      function startResendTimer() {
        let remainingTime = 60;
        const sendOtpButton = $('#sendOtp'); // Reference to the "Send OTP" button
        const countdownTimer = $('#countdownTimer');
        countdownTimer.removeClass('d-none'); // Show the countdown timer

        const countdownInterval = setInterval(() => {
          remainingTime--;
          if (remainingTime > 0) {
            countdownTimer.text(`Resend OTP (${remainingTime}s)`);
          } else {
            clearInterval(countdownInterval);
            countdownTimer.addClass('d-none'); // Hide the countdown timer
            sendOtpButton.prop('disabled', false); // Enable the "Send OTP" button
          }
        }, 1000);
      }
      function verifyOtp(otp, phone) {
        if (otp.length !== 6) {
          $('#otpWarning').removeClass('d-none');
        } else {
          $.ajax({
            url: '/verify-otp-password',
            type: 'POST',
            data: { otp: otp, phonenumber: phone },
            success: function (response) {
              console.log(response);
              if (response.status === 'success') {
                toastr.success('OTP verified successfully');
                handleOtpVerificationSuccess();
                resetPassword(phone, function (success) {
                  if (success) {
                    window.location.href = '/login';
                  } else {
                    toastr.error('Password reset failed');
                  }
                });
              } else {
                toastr.error('Incorrect OTP');
                handleOtpVerificationError();
              }
            },
            error: function (error) {
              console.log(error);
              toastr.error('OTP verification failed. Please try again.');
            }
          });
        }
      }

      function handleOtpVerificationSuccess() {
        isOtpVerified = true;
        validatePassword();
        $('#phoneWarning').addClass('d-none');
        $('#otpWarning').addClass('d-none');
      }

      function handleOtpVerificationError() {
        isOtpVerified = false;
        validatePassword();
        $('#phoneWarning').addClass('d-none');
        $('#otpWarning').removeClass('d-none');
      }
    });

  </script>



  <script src="/login/js/jquery-3.3.1.min.js"></script>
  <script src="/login/js/popper.min.js"></script>
  <script src="/login/js/bootstrap.min.js"></script>
  <script src="/login/js/main.js"></script>
</body>



</html>