<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/user-head") %>
  </head>
  <body class="bg-veryDarkGray">
    <main class="flex justify-center items-center h-screen w-full">
      <div
        class="bg-white w-96 lg:w-2/5 h-min px-5 lg:px-10 xl:px-20 mx-5 py-5 drop-shadow-[8px_8px_rgb(45,212,191)]"
      >
        <h1 class="text-turquoise text-center font-bold text-3xl">
          Create New Password.
        </h1>
        <form action="/change-password" method="post" class="mt-5">
          <div class="mt-4">
            <label for="password" class="block mb-1">Password</label>
            <input
              type="password"
              required
              id="password"
              name="password"
              class="bg-white border block w-full p-1 px-3 focus:outline-none"
            />
          </div>
          <div class="mt-4">
            <label for="cofirmPassword" class="block mb-1"
              >Confirm Password</label
            >
            <input
              type="password"
              required
              id="cofirmPassword"
              name="cofirmPassword"
              class="bg-white border block w-full p-1 px-3 focus:outline-none"
            />
          </div>
          <div class="flex justify-center items-center">
            <button
              type="submit"
              class="bg-turquoise mt-5 px-7 py-2 font-semibold uppercase hover:bg-teal-300 transition-all"
            >
              RESET PASSWORD
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
