<!doctype html>
<html lang="en">
<%- include('../../partials/user-header') %>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login/font/icomoon/style.css">

    <link rel="stylesheet" href="/login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/login/css/style.css">

    <style>
      .btn-login {
        background-color: #6c757d;
      }

      .btn-login:hover {
        background-color: rgb(245, 245, 245);
      }
      .content {
        background-image: url('../../../login/image/h1_hero.jpg.webp');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>

    <title>Login</title>
  </head>

  <body>
    <div class="content">
      <div class="container">
        <div class="row">

          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Sign up</h3< /p>
                </div>
                <form action="/signup" method="post">
                  <div class="form-group first">
                    <label for="username">Username </label>
                    <input type="text" class="form-control" id="username" name="username">

                  </div>
                  <br>
                  <div class="form-group first">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">

                  </div>
                  <br>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">

                  </div>

               
                  
                  <a href="#">
                    <button type="submit" class="btn btn-block btn-login">REGISTER</button>
                  </a>
                  
                  <br>
                  <button type="button" class="btn btn-block btn-login">
                    LOGIN WITH OTP
                  </button>





                  <!-- <div id="login">
                <button onclick="document.getElementById('login')" class="btn btn--outline-primary btn--large" type="submit">Sign In</button>
              </div> -->
                  <!-- <input type="submit" value="Log In" class="btn btn-block btn-primary"> -->

                  <!-- <a href="/otp-login"><input  type="submit"  value="Log in with otp" class="btn btn-block btn-secondary"></a> -->
                  <!-- <input  type="submit"  value="Log in with otp" class="btn btn-block btn-secondary"> -->

                  <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                  <div class="social-login">
                    <a href="#" class="facebook">
                      <span class="icon-facebook mr-3"></span>
                    </a>
                    <a href="#" class="twitter">
                      <span class="icon-twitter mr-3"></span>
                    </a>
                    <a href="#" class="google">
                      <span class="icon-google mr-3"></span>
                    </a>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <script src="/login/js/jquery-3.3.1.min.js"></script>
    <script src="/login/js/popper.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="/login/js/main.js"></script>
  </body>

<footer>
  <%- include('../../partials/user-footer.ejs') %>
</footer>

</html>